* {
  margin: 0;
  padding: 0;

}

.list-container{
  margin-top: 10%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: lightblue;
  /* background-image: url("../img/notepad.compress.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; */

  border:solid 1px transparent;
  border-radius: 25px;
  box-shadow: -15px -15px  15px slategrey;

  text-align: center;
  font-family: "Open sans", "sans serif";
}
